<%= render :partial=>"admin/menu" %>
<%= render :partial=>"menu" %>
<br/><br/>
<strong>1-2 Letter Custodian ( more fields can added on request )</strong>
<hr/>
<br/>


<% rez = ActiveRecord::Base.connection.execute("select si1.id,si1.f35,i.f20 from systeminformation1 si1 join information i on si1.id_1=i.id_1 where char_length(si1.f1)<3 and char_length(si1.f1)>1 and si1.f1!='-' limit 100") %>
<table>
<% while row = rez.fetch_hash do %>
		<tr><td><%= link_to (row['f20'],"/my/firm_info?id="+row['id'], :target=>"nww") %></td></tr>
<% end %>
</table>