<style>
ul li { list-style-type: disc; margin-left:30px; }
ul li ul li { list-style-type: circle; }
ul li ul li ul li{ list-style-type: square; }
</style>

<table width="100%" border="0" cellspacing="0" cellpadding="0" valign="top">
  <TR>
    <TD>
      <p><b><font face="Arial" size="3">About <i>GreenwichOnline</i></font></b></p>
      <p><font face="Arial" size="2">Greenwich Alternative Investments is pleased to offer <i>GreenwichOnline</i>, a web-based solution for performance reporting.  Participating fund managers will benefit from:</font></p>
      <ul>
        <li>
            <font face="Arial" size="2">
        	Streamlined Reporting</font>
        	<ul>
        		<li><font face="Arial" size="2">Fast access to fund information (through password-protected
      account)</font></li>
        	</ul>
        </li>
        <li><font face="Arial" size="2">Exclusive Exposure to Greenwich’s Clients (Institutional Investors) - Reporting funds are automatically considered for inclusion in products offered by Greenwich to its clients.  Such products include:</font>
        <ul>
        		<li><font face="Arial" size="2">Greenwich’s Investable Indices</font></li>
        		<li><font face="Arial" size="2">Greenwich’s Custom Porfolios</font></li>
        	</ul>
        </li>
        <li><font face="Arial" size="2">Enhanced Exposure to Qualified Investors Worldwide</font>
        <ul>
        		<li><font face="Arial" size="2">
      Listing your fund on the Greenwich hedge fund database is an
      easy and cost-free way of increasing fund exposure to accredited investors
      who purchase the database.<span style="mso-spacerun: yes">&nbsp; </span>Investors
      include:<o:p>
                  </font>
      <ul>
      	<li><font face="Arial" size="2">Family Offices<o:p>
          &nbsp;</font></li>
      	<li><span style="font-family:Wingdings"></span><font face="Arial" size="2">Consultants<o:p>
          &nbsp;</font></li>
      	<li><span style="font-family:Wingdings"></span><font face="Arial" size="2">Endowments</font></li>
      	<li><font face="Arial" size="2"><span style="mso-fareast-font-family: Calibri; mso-bidi-font-family: Times New Roman; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA">Funds of
          Funds</span></o:p>
          </font></li>
      </ul>
                </li>
        	</ul>
        </li>
      </ul>
      <font face="Arial" size="2">For more information, email <a href="mailto:info@greenwichai.com">info@greenwichai.com</a> or call 1.203.487.6180.</font>
    </TD>
  </TR>
</TABLE>
<br/><br/>
To get started, please fill out the form on our registration page.<br/>
<input type="button" value="Register" onclick="window.open('/register','mywindow_register','menubar=1,resizable=1,scrollbar=yes,width=1050,height=700');" />
