<% form_for "forgot_password", :url=>"find_pw" do |f| %>
    Forgot your password?                              <br/><br/>

    Enter your email or username and we'll generate a new password for you. If you don't have an email associated with your account please email <a href="mailto:support@greenwichai.com">support@greenwichai.com</a>.
                                                                 <br/><br/>
    Please enter your email or username : <%= text_field_tag "query", "" %>  <br/>
    <%= f.submit "Send" %>
<% end %>
